---
import Layout from '@/layouts/Layout.astro';
import { SITE_EN_TITLE, SITE_EN_DESCRIPTION, SITE_URL } from '@/utils/constants';
import { buttonVariants } from '@/components/ui/button';
import { Card, CardContent, CardDescription, CardHeader, CardTitle } from '@/components/ui/card';

let email

if(Astro.locals.auth().userId){
	const user = await Astro.locals.currentUser()
	email = user?.emailAddresses.map((email: { emailAddress: string; }) => email.emailAddress)[0]
}
---

<Layout title={SITE_EN_TITLE} description={SITE_EN_DESCRIPTION} canonical={SITE_URL}>
    <Card>
        <CardHeader>
            <CardTitle>

                Not found any url with this id. 
            </CardTitle>
            <CardDescription>

                Try with other one.
            </CardDescription>
        </CardHeader>
        <CardContent>

            <a href="/" class={buttonVariants({variant: "outline"})}>Go to home</a>
        </CardContent>
    </Card>
</Layout>
