---
import Redirect from "../components/Redirect";
import Layout from "../layouts/Layout.astro";
import { getLargeUrl } from "../lib/getLargeUrl"
import { SITE_NAME } from "../utils/constants";

const { short_url } = Astro.params;
const large_url = await getLargeUrl(short_url);
---

<Layout title={SITE_NAME}>
  <main>
      <Redirect url={large_url} client:only="react" />
  </main>
</Layout>
