---
import Redirect from "@/components/react/Redirect";
import Layout from "@/layouts/Layout.astro";
import fetchLargeUrl from "@/services/fetchLargeUrl";
import { SITE_EN_TITLE, SITE_EN_DESCRIPTION } from '@/utils/constants';
const { short_url } = Astro.params;
const large_url = await fetchLargeUrl(short_url);
---

<Layout title={SITE_EN_TITLE} description={SITE_EN_DESCRIPTION}>
  <main>
      <Redirect url={large_url} client:only="react" />
  </main>
</Layout>
