---
import UrlsTable from "@/components/react/UrlsTable";
import { buttonVariants } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
import { supabase } from "@/lib/supabase";
import { SITE_EN_TITLE, SITE_EN_DESCRIPTION, SITE_URL } from "@/utils/constants";

const data = await Astro.locals.currentUser()
const email = data?.emailAddresses.map((email: { emailAddress: string; }) => email.emailAddress)[0]

const { data: userUrls, error } = await supabase
  .from("urls")
  .select("*")
  .eq("created_by", email);
---

<Layout title={SITE_EN_TITLE} description={SITE_EN_DESCRIPTION} canonical={SITE_URL}>
	<div class="grid">
      <UrlsTable client:only="react" data={userUrls || []}/>
		  <a href="/" title="Go back" class={buttonVariants({variant: "outline"})}>Go back</a>
	</div>
</Layout>