---
import UrlsTable from "@/components/react/UrlsTable";
import { buttonVariants } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
import { SITE_EN_TITLE, SITE_EN_DESCRIPTION, SITE_URL } from "@/utils/constants";
---

<Layout title={SITE_EN_TITLE} description={SITE_EN_DESCRIPTION} canonical={SITE_URL}>
	<div>
        <UrlsTable client:only="react"/>
		<a href="/" title="Go back" class={buttonVariants({variant: "outline"})}>Go back</a>
	</div>
</Layout>