---
import Layout from "../../layouts/Layout.astro";
import { getLargeUrl } from "../../lib/getLargeUrl";
const {short_url} = Astro.params

const large_url = await getLargeUrl(short_url)

// esta pagiina será donde se le mostrará al usuario la url acortada en función de la url larga que haya introducito
---

<Layout title={short_url}>
    <main> 
        {large_url ? large_url.map((url) => (
            <h3>Url original {url.large_url}</h3>
        )) : null}
        <h3>Url convertida {short_url}</h3>
    </main>
</Layout>