---
import { Coffee, Heart } from 'lucide-astro';
---
<footer>
    <p class="flex flex-row items-center gap-2 text-white">Made with <Heart/> by 
        <a href="https://www.rafacanosa.dev" title="Rafa Canosa" target="_blank" rel="noreferrer">Rafa Canosa</a>
        <a href="https://ko-fi.com/rafacanosa" title="Buy me a coffee" target="_blank" rel="noreferrer"><Coffee /></a>
    </p>
</footer>

<style>
    footer{
        display: grid;
        align-items: center;
        justify-content: center;
    }
</style>