<header>
    <img src="./favicon.avif" alt="Ninja path logo" width="60" />
    <h1>Ninja Path</h1>
    <nav>
        <a href="/es" title="Cambiar a la versión en español">Español</a> 
        <a href="/archive" title="URLs archive">Created URLs</a>
    </nav>
</header>

<style>
    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        justify-content: center;
    }

    nav{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    @media (max-width: 480px) {
        nav {
            flex-direction: column;
        }
    }
    h1{
        margin: 0;
    }
</style>