---
import UrlsTable from "@/components/react/UrlsTable";
import { buttonVariants } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
import { supabase } from "@/lib/supabase";
import { t, changeLanguage } from "i18next";

changeLanguage("es");

const data = await Astro.locals.currentUser();
const email = data?.emailAddresses.map((email: {
    emailAddress: string;
}) => email.emailAddress)[0];
const { data: userUrls, error } = await supabase
    .from("urls")
    .select("*")
    .eq("created_by", email);
---

<Layout title={t("archive.title")}>
	<div class="grid">
      <UrlsTable client:only="react" data={userUrls || []}/>
		  <a href="/" title="Go back" class={buttonVariants({variant: "outline"})}>{t("archive.back-btn")}</a>
	</div>
</Layout>