---
import SEO from '../components/SEO.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

interface Props {
	title: string
	description: string
	canonical?: string
	image?: string
}

const { title, description, canonical, image } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<SEO/>
	</head>
	<body>
		<Header/>
		<slot />
		<Footer/>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	img{
		border-radius: .5rem;
	}
</style>
