---
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import SEO from '@/components/SEO.astro';

interface Props {
	title: string
	description: string
	canonical?: string
	image?: string
}

const { title, description, canonical, image } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<SEO title={title} description={description} canonical={canonical} image={image}/>
	</head>
	<body class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]">
		<div class="max-w-xl place-content-center grid mx-auto">
			<Header/>
			<slot />
			<Footer/>
		</div>
	</body>

</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	img{
		border-radius: .5rem;
	}
</style>
