---
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import SEO from '@/components/SEO.astro';

interface Props {
	title: string
	description: string
	canonical?: string
	image?: string
}

const { title, description, canonical, image } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<SEO title={title} description={description} canonical={canonical} image={image}/>
	</head>
	<body class="dark">
		<div class="absolute inset-0 -z-10 h-full w-full items-center py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]">
			<div class="grid grid-cols-5 grid-rows-1 gap-4">
				<div class="col-span-5 md:col-span-3 md:col-start-2 row max-w-xl mx-auto w-full">
				  <Header />
				</div>
				<div class="col-span-5 md:col-span-3 row-span-3 md:col-start-2 row-start-2 mb-16 mx-auto max-w-xl w-full">
				  <slot/>
				</div>
				<div class="col-span-5 md:col-span-3 md:col-start-2 max-w-xl mx-auto w-full">
				  <Footer />
				</div>
			  </div>
		</div>
	</body>
</html>

<style is:global>

	html {
		color: white;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	img{
		border-radius: .5rem;
	}
</style>
